<a href="https://colab.research.google.com/github/PajeSystems/PUC.MVP/blob/main/Exerc%C3%ADcio_Boaz_BD_Aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Banco de Dados
Prof. Sérgio Lifschitz

Aluno. Boaz Avellar Jr

---

## Exercícios da Aula 2: Projeto Conceitual e Linguagem SQL DDL (criação e atualização de esquemas) e SQL DML (atualização de instâncias)

**Primeira Parte:** Projeto Conceitual com Diagramas ER

Acesse o enunciado do exercício no seguinte link: https://drive.google.com/file/d/1Sd8Nd1nraKALk-GqRszRCu4MZqmBDBE5/view?usp=sharing

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# **PRIMEIRA PARTE**

RESPOSTA DO EXERCICIO PROPOSTO
Criados Modelo Conceitual e Lógico de Banco de dados da empresa XPTO.

Modelo Conceitual link: https://app.brmodeloweb.com/#!/publicview/67e93930a6fbf5c2fe00212f


Modelo Lógico link: https://app.brmodeloweb.com/#!/publicview/68015fe9c4982c62e7049f07


Esquema de Banco de Dados Link: https://drive.google.com/file/d/1B6b6XX_qcU7LLxxCOi2pxiNo_6vamM9z/view?usp=sharing



xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

**Segunda Parte:** Voltamos a utilizar o SGBD PostgreSQL localmente.

Para a prática de SQL DML (atualização de instâncias) usando um esquema similar ao esquema CARROS da Aula 1.

## PASSO 1: Instalação e Configuração do PostgreSQL

Basta dar PLAY que o script abaixo instalará o SGBD PostgreSQL

In [48]:
# %%capture
# Instalação do PostgreSQL
!sudo apt-get -y -qq update
!pip install sqlalchemy==2.0
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
# Alterando a senha do usuário padrão 'postgres' para 'postgres'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Requirement already satisfied: sqlalchemy==2.0 in /usr/local/lib/python3.11/dist-packages (2.0.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy==2.0) (4.13.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy==2.0) (3.1.1)
 * Starting PostgreSQL 14 database server
   ...done.
ALTER ROLE

## PASSO 2: Preparo do Esquema Relacional CARROS2

Acesse o enunciado do exercício no seguinte link: https://drive.google.com/file/d/1B0OFWhCV8zOLt0FQ5KvCutLPhuMveZ84/view?usp=sharing

Diferentemente da aula 1, aqui você irá utilizar os comandos de criação do esquema CARROS2 propostos por você no seu próprio COLAB, seguindo as instruções do enunciado da Lista da Aula 2. Você pode utilizar os scripts do esquema CARROS da Aula 1 apenas como referência de "gabarito".

Os demais comandos (PLAY) de criação do esquema do BD Carros2 seguem iguais à aula 1.

In [49]:
# Cria o esquema no banco de dados
%%capture
!sudo -u postgres psql -U postgres -c 'DROP SCHEMA IF EXISTS carros CASCADE;'
!sudo -u postgres psql -U postgres -c 'CREATE SCHEMA carros;'

## PASSO 3: Preparando para usar o SGBD PostgreSQL localmente

Aqui nada muda em relação à Aula 1 - configuração para extensão SQL usando o SGBD PostgreSQL no seu COLAB.

In [50]:
# Configurando o PostgreSQL na variável de ambiente DATABASE_URL
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

In [51]:
# Carregando a extensão sql para usar o SQL pelo Google Colab
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Prática de SQL DDL (esquemas) e DML (instâncias)

Criação e atualização do esquema CARROS2 implantado no SGBD PostgreSQL, seguindo as instruções dos exercícios desta aula 2.

In [52]:
%sql postgresql://postgres:postgres@localhost:5432/postgres

In [53]:
# Escolhe o esquema carros como o esquema em que serão feitas as consultas
# (deve-se executar essa célula sempre que for trocar para o esquema carros)
%%sql
SET SCHEMA 'carros';

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [54]:
# Exemplo de CREATE TABLE:

# Você pode modificar e adaptar ao teu próprio comando.

%%sql

CREATE TABLE carros.automoveis (
    codigo integer NOT NULL,
    ano character(2) NOT NULL,
    fabricante character(20),
    modelo character(20),
    preco_tabela numeric(8,2),
    pais character(20)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

**EXERCÍCIO 2**

# **SEGUNDA PARTE**

Criando Tabela automoveis

In [55]:
#  Tabela de automoveis

%%sql

CREATE TABLE AUTOMOVEIS (
    Código INT PRIMARY KEY,
    Fabricante VARCHAR(50) NOT NULL,
    Modelo VARCHAR(50) NOT NULL,
    Ano INT NOT NULL,
    País VARCHAR(50),
    Preco_tabela NUMERIC(12,2) NOT NULL
);

#  Inserir AUTOMÓVEIS
INSERT INTO AUTOMOVEIS (Código, Fabricante, Modelo, Ano, País, Preco_tabela)
VALUES
(1, 'Toyota', 'Corolla', 2022, 'Japão', 120000.00),
(2, 'Volkswagen', 'Gol', 2020, 'Brasil', 55000.00),
(3, 'Ford', 'Ranger', 2023, 'EUA', 210000.00);

# Alterar tabela
ALTER TABLE AUTOMOVEIS ADD COLUMN Cor VARCHAR(20);
ALTER TABLE AUTOMOVEIS DROP COLUMN País;

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) relation "automoveis" already exists

[SQL: CREATE TABLE AUTOMOVEIS (
    Código INT PRIMARY KEY,
    Fabricante VARCHAR(50) NOT NULL,
    Modelo VARCHAR(50) NOT NULL,
    Ano INT NOT NULL,
    País VARCHAR(50),
    Preco_tabela NUMERIC(12,2) NOT NULL
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

Criando tabela Revendedoras

In [42]:
# Tabela de Revendedoras

%%sql

CREATE TABLE REVENDEDORAS (
    CNPJ VARCHAR(18) PRIMARY KEY,
    Nome VARCHAR(100) NOT NULL,
    CPFproprietário VARCHAR(14),
    Estado CHAR(2)
);

# Inserir Revendedoras
INSERT INTO REVENDEDORAS (CNPJ, Nome, CPFproprietário, Estado)
VALUES
('12.345.678/0001-90', 'AutoCenter RJ', '123.456.789-00', 'RJ'),
('98.765.432/0001-10', 'Revenda Sul', '987.654.321-00', 'RS');

# Alterar tabela
ALTER TABLE REVENDEDORAS ADD COLUMN Telefone VARCHAR(15);
ALTER TABLE REVENDEDORAS DROP COLUMN CPFproprietário;

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) relation "revendedoras" already exists

[SQL: CREATE TABLE REVENDEDORAS (
    CNPJ VARCHAR(18) PRIMARY KEY,
    Nome VARCHAR(100) NOT NULL,
    CPFproprietário VARCHAR(14),
    Estado CHAR(2)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

Criando Tabela Consumidores

In [35]:
# Tabela de Consumidores

%%sql

CREATE TABLE CONSUMIDORES (
    CPF VARCHAR(14) PRIMARY KEY,
    Nome VARCHAR(50) NOT NULL,
    Sobrenome VARCHAR(50) NOT NULL,
    Data_Nascimento DATE NOT NULL,
    Estado CHAR(2)
);

# Inserir CONSUMIDORES
INSERT INTO CONSUMIDORES (CPF, Nome, Sobrenome, Data_Nascimento, Estado)
VALUES
('111.222.333-44', 'Ana', 'Silva', '1985-06-15', 'SP'),
('555.666.777-88', 'Carlos', 'Moura', '1990-10-20', 'MG');

# Alterar tabela
ALTER TABLE CONSUMIDORES ADD COLUMN Email VARCHAR(100);
ALTER TABLE CONSUMIDORES DROP COLUMN Estado;

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.DuplicateTable) relation "consumidores" already exists

[SQL: CREATE TABLE CONSUMIDORES (
    CPF CHAR(11) PRIMARY KEY,
    Nome VARCHAR(100) NOT NULL,
    Sobrenome VARCHAR(100),
    Data_Nascimento DATE,
    Estado CHAR(2)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

Criando Tabela Negócios

In [46]:
#  Tabela de Negócios (Compras)
# PRIMARY KEY (Id_negocio),
%%sql

CREATE TABLE NEGOCIOS (
    CPFcomprador VARCHAR(14) NOT NULL,
    CNPJrevenda VARCHAR(18) NOT NULL,
    CodigoAuto INT NOT NULL,
    AnoAuto INT NOT NULL,
    Data DATE NOT NULL,
    Preco NUMERIC(12,2) NOT NULL,
    PRIMARY KEY (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto),
    FOREIGN KEY (CPFcomprador) REFERENCES CONSUMIDORES(CPF),
    FOREIGN KEY (CNPJrevenda) REFERENCES REVENDEDORAS(CNPJ),
    FOREIGN KEY (CodigoAuto) REFERENCES AUTOMOVEIS(Código)
);

# Inserir NEGOCIOS
INSERT INTO NEGOCIOS (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto, Data, Preco)
VALUES
('111.222.333-44', '12.345.678/0001-90', 1, 2022, '2024-12-01', 118000.00),
('555.666.777-88', '98.765.432/0001-10', 2, 2020, '2025-01-15', 50000.00);

# Alterar tabela
ALTER TABLE NEGOCIOS ADD COLUMN Forma_Pagamento VARCHAR(30);
ALTER TABLE NEGOCIOS DROP COLUMN AnoAuto;

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.UndefinedColumn) column "código" referenced in foreign key constraint does not exist

[SQL: CREATE TABLE NEGOCIOS (
    CPFcomprador VARCHAR(14) NOT NULL,
    CNPJrevenda VARCHAR(18) NOT NULL,
    CodigoAuto INT NOT NULL,
    AnoAuto INT NOT NULL,
    Data DATE NOT NULL,
    Preco NUMERIC(12,2) NOT NULL,
    PRIMARY KEY (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto),
    FOREIGN KEY (CPFcomprador) REFERENCES CONSUMIDORES(CPF),
    FOREIGN KEY (CNPJrevenda) REFERENCES REVENDEDORAS(CNPJ),
    FOREIGN KEY (CodigoAuto) REFERENCES AUTOMOVEIS(Código)
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

Criando Tabela Garagens

In [47]:
# Tabela de Garagens (Estoque de Automóveis)

%%sql

  CREATE TABLE GARAGENS (
    CNPJrevenda VARCHAR(18) NOT NULL,
    CodigoAuto INT NOT NULL,
    AnoAuto INT NOT NULL,
    Quantidade INT NOT NULL CHECK (Quantidade >= 0),
    PRIMARY KEY (CNPJrevenda, CodigoAuto, AnoAuto),
    FOREIGN KEY (CNPJrevenda) REFERENCES REVENDEDORAS(CNPJ) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (CodigoAuto, AnoAuto) REFERENCES AUTOMOVEIS(Código, Ano) ON DELETE CASCADE ON UPDATE CASCADE
);

# Inserir GARAGENS

INSERT INTO GARAGENS (CNPJrevenda, CodigoAuto, AnoAuto, Quantidade)
VALUES
('12.345.678/0001-90', 1, 2022, 3),
('98.765.432/0001-10', 2, 2020, 5),
('98.765.432/0001-10', 3, 2023, 2);

# Alterar tabela
ALTER TABLE GARAGENS ADD COLUMN Ultima_Atualizacao TIMESTAMP DEFAULT CURRENT_TIMESTAMP;
ALTER TABLE GARAGENS DROP COLUMN AnoAuto;

 * postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.UndefinedColumn) column "código" referenced in foreign key constraint does not exist

[SQL: CREATE TABLE GARAGENS (
    CNPJrevenda VARCHAR(18) NOT NULL,
    CodigoAuto INT NOT NULL,
    AnoAuto INT NOT NULL,
    Quantidade INT NOT NULL CHECK (Quantidade >= 0),
    PRIMARY KEY (CNPJrevenda, CodigoAuto, AnoAuto),
    FOREIGN KEY (CNPJrevenda) REFERENCES REVENDEDORAS(CNPJ) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (CodigoAuto, AnoAuto) REFERENCES AUTOMOVEIS(Código, Ano) ON DELETE CASCADE ON UPDATE CASCADE
);]
(Background on this error at: https://sqlalche.me/e/20/f405)

**Parte 1: Modelagem Conceitual**

Segue SUGESTÃO de solução de modelagem conceitual ER usando a ferramenta BRmodelo.

https://drive.google.com/file/d/10-lx_mCLC4svbnopnlBKxtfsBJGqdbXt/view?usp=sharing