<a href="https://colab.research.google.com/github/PajeSystems/PUC.MVP/blob/main/Exerc%C3%ADcio_Boaz_BD_Aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Banco de Dados
Prof. Sérgio Lifschitz

Aluno. Boaz Avellar Jr

---

## Exercícios da Aula 2: Projeto Conceitual e Linguagem SQL DDL (criação e atualização de esquemas) e SQL DML (atualização de instâncias)

**Primeira Parte:** Projeto Conceitual com Diagramas ER

Acesse o enunciado do exercício no seguinte link: https://drive.google.com/file/d/1Sd8Nd1nraKALk-GqRszRCu4MZqmBDBE5/view?usp=sharing

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# **PRIMEIRA PARTE**

RESPOSTA DO EXERCICIO PROPOSTO
Criados Modelo Conceitual e Lógico de Banco de dados da empresa XPTO.

Modelo Conceitual link: https://app.brmodeloweb.com/#!/publicview/67e93930a6fbf5c2fe00212f


Modelo Lógico link: https://app.brmodeloweb.com/#!/publicview/68015fe9c4982c62e7049f07


Esquema de Banco de Dados Link: https://drive.google.com/file/d/1B6b6XX_qcU7LLxxCOi2pxiNo_6vamM9z/view?usp=sharing



xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

**Segunda Parte:** Voltamos a utilizar o SGBD PostgreSQL localmente.

Para a prática de SQL DML (atualização de instâncias) usando um esquema similar ao esquema CARROS da Aula 1.

## PASSO 1: Instalação e Configuração do PostgreSQL

Basta dar PLAY que o script abaixo instalará o SGBD PostgreSQL

In [ ]:
# %%capture
# Instalação do PostgreSQL
!sudo apt-get -y -qq update
!pip install sqlalchemy==2.0
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
# Alterando a senha do usuário padrão 'postgres' para 'postgres'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Requirement already satisfied: sqlalchemy==2.0 in /usr/local/lib/python3.11/dist-packages (2.0.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy==2.0) (4.13.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy==2.0) (3.1.1)
 * Starting PostgreSQL 14 database server
   ...done.
ALTER ROLE

Instalando Extensão ipython-sql

In [8]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.11/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (2.0.40)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.11/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.13.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (3.0.51)
Requirement already satisfied: pygments in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.11/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.11/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.11/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 30.3 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.2

## PASSO 2: Preparo do Esquema Relacional CARROS2

Acesse o enunciado do exercício no seguinte link: https://drive.google.com/file/d/1B0OFWhCV8zOLt0FQ5KvCutLPhuMveZ84/view?usp=sharing

Diferentemente da aula 1, aqui você irá utilizar os comandos de criação do esquema CARROS2 propostos por você no seu próprio COLAB, seguindo as instruções do enunciado da Lista da Aula 2. Você pode utilizar os scripts do esquema CARROS da Aula 1 apenas como referência de "gabarito".

Os demais comandos (PLAY) de criação do esquema do BD Carros2 seguem iguais à aula 1.

In [9]:
# Cria o esquema no banco de dados
%%capture
!sudo -u postgres psql -U postgres -c 'DROP SCHEMA IF EXISTS carros CASCADE;'
!sudo -u postgres psql -U postgres -c 'CREATE SCHEMA carros;'

## PASSO 3: Preparando para usar o SGBD PostgreSQL localmente

Aqui nada muda em relação à Aula 1 - configuração para extensão SQL usando o SGBD PostgreSQL no seu COLAB.

In [10]:
# Configurando o PostgreSQL na variável de ambiente DATABASE_URL
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

In [11]:
# Carregando a extensão sql para usar o SQL pelo Google Colab
%load_ext sql

## Prática de SQL DDL (esquemas) e DML (instâncias)

Criação e atualização do esquema CARROS2 implantado no SGBD PostgreSQL, seguindo as instruções dos exercícios desta aula 2.

In [15]:
%sql postgresql://postgres:postgres@localhost:5432/postgres

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/engine/base.py", line 146, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/engine/base.py", line 3298, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 449, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 1264, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 713, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/impl.py", line 179, in _do_get
    with util.safe_reraise():
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/impl.py", line 177, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 390, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 675, in __init__
    self.__connect()
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 901, in __connect
    with util.safe_reraise():
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 897, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/engine/create.py", line 646, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/engine/default.py", line 625, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)  # type: ignore[no-any-return]  # NOQA: E501
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/psycopg2/__init__.py", line 122, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
psycopg2.OperationalError: connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (::1), port 5432 failed: Cannot assign requested address
	Is the server running on that host and accepting TCP/IP connections?


The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/sql/magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sql/connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sql/connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
                               ^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/engine/base.py", line 3274, in connect
    return self._connection_cls(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/engine/base.py", line 148, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/engine/base.py", line 2439, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/engine/base.py", line 146, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/engine/base.py", line 3298, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 449, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 1264, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 713, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/impl.py", line 179, in _do_get
    with util.safe_reraise():
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/impl.py", line 177, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 390, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 675, in __init__
    self.__connect()
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 901, in __connect
    with util.safe_reraise():
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/util/langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/pool/base.py", line 897, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/engine/create.py", line 646, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/sqlalchemy/engine/default.py", line 625, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)  # type: ignore[no-any-return]  # NOQA: E501
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/lib/python3.11/dist-packages/psycopg2/__init__.py", line 122, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (::1), port 5432 failed: Cannot assign requested address
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
# Escolhe o esquema carros como o esquema em que serão feitas as consultas
# (deve-se executar essa célula sempre que for trocar para o esquema carros)
%%sql
SET SCHEMA 'carros';

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [ ]:
# Exemplo de CREATE TABLE:

# Você pode modificar e adaptar ao teu próprio comando.

%%sql

CREATE TABLE carros.automoveis (
    codigo integer NOT NULL,
    ano character(2) NOT NULL,
    fabricante character(20),
    modelo character(20),
    preco_tabela numeric(8,2),
    pais character(20)
);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

**EXERCÍCIO 2**

# **SEGUNDA PARTE**

Criando Tabela automoveis

In [1]:
-- Tabela de automoveis

%%sql

CREATE TABLE AUTOMOVEIS (
    Código INT PRIMARY KEY,
    Fabricante VARCHAR(50) NOT NULL,
    Modelo VARCHAR(50) NOT NULL,
    Ano INT NOT NULL,
    País VARCHAR(50),
    Preco_tabela NUMERIC(12,2) NOT NULL
);

-- Inserir AUTOMÓVEIS
INSERT INTO AUTOMOVEIS (Código, Fabricante, Modelo, Ano, País, Preco_tabela)
VALUES
(1, 'Toyota', 'Corolla', 2022, 'Japão', 120000.00),
(2, 'Volkswagen', 'Gol', 2020, 'Brasil', 55000.00),
(3, 'Ford', 'Ranger', 2023, 'EUA', 210000.00);

-- Alterar tabela
ALTER TABLE AUTOMOVEIS ADD COLUMN Cor VARCHAR(20);
ALTER TABLE AUTOMOVEIS DROP COLUMN País;

UsageError: Cell magic `%%sql` not found.

Criando tabela Revendedoras

In [3]:
-- Tabela de Revendedoras

%%sql

CREATE TABLE REVENDEDORAS (
    CNPJ VARCHAR(18) PRIMARY KEY,
    Nome VARCHAR(100) NOT NULL,
    CPFproprietário VARCHAR(14),
    Estado CHAR(2)
);

-- Inserir Revendedoras
INSERT INTO REVENDEDORAS (CNPJ, Nome, CPFproprietário, Estado)
VALUES
('12.345.678/0001-90', 'AutoCenter RJ', '123.456.789-00', 'RJ'),
('98.765.432/0001-10', 'Revenda Sul', '987.654.321-00', 'RS');

-- Alterar tabela
ALTER TABLE REVENDEDORAS ADD COLUMN Telefone VARCHAR(15);
ALTER TABLE REVENDEDORAS DROP COLUMN CPFproprietário;

UsageError: Cell magic `%%sql` not found.

Criando Tabela Consumidores

In [7]:
-- Tabela de Consumidores

%%sql

CREATE TABLE CONSUMIDORES (
    CPF VARCHAR(14) PRIMARY KEY,
    Nome VARCHAR(50) NOT NULL,
    Sobrenome VARCHAR(50) NOT NULL,
    Data_Nascimento DATE NOT NULL,
    Estado CHAR(2)
);

-- Inserir CONSUMIDORES
INSERT INTO CONSUMIDORES (CPF, Nome, Sobrenome, Data_Nascimento, Estado)
VALUES
('111.222.333-44', 'Ana', 'Silva', '1985-06-15', 'SP'),
('555.666.777-88', 'Carlos', 'Moura', '1990-10-20', 'MG');

-- Alterar tabela
ALTER TABLE CONSUMIDORES ADD COLUMN Email VARCHAR(100);
ALTER TABLE CONSUMIDORES DROP COLUMN Estado;

UsageError: Cell magic `%%sql` not found.

Criando Tabela Negócios

In [5]:
-- Tabela de Negócios (Compras)

%%sql

CREATE TABLE NEGOCIOS (
    CPFcomprador VARCHAR(14) NOT NULL,
    CNPJrevenda VARCHAR(18) NOT NULL,
    CodigoAuto INT NOT NULL,
    AnoAuto INT NOT NULL,
    Data DATE NOT NULL,
    Preco NUMERIC(12,2) NOT NULL,
    PRIMARY KEY (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto),
    FOREIGN KEY (CPFcomprador) REFERENCES CONSUMIDORES(CPF),
    FOREIGN KEY (CNPJrevenda) REFERENCES REVENDEDORAS(CNPJ),
    FOREIGN KEY (CodigoAuto) REFERENCES AUTOMOVEIS(Código)
);

-- Inserir NEGOCIOS
INSERT INTO NEGOCIOS (CPFcomprador, CNPJrevenda, CodigoAuto, AnoAuto, Data, Preco)
VALUES
('111.222.333-44', '12.345.678/0001-90', 1, 2022, '2024-12-01', 118000.00),
('555.666.777-88', '98.765.432/0001-10', 2, 2020, '2025-01-15', 50000.00);

# Alterar tabela
ALTER TABLE NEGOCIOS ADD COLUMN Forma_Pagamento VARCHAR(30);
ALTER TABLE NEGOCIOS DROP COLUMN AnoAuto;

UsageError: Cell magic `%%sql` not found.

Criando Tabela Garagens

In [14]:
-- Tabela de Garagens (Estoque de Automóveis)

%%sql

  CREATE TABLE GARAGENS (
    CNPJrevenda VARCHAR(18) NOT NULL,
    CodigoAuto INT NOT NULL,
    AnoAuto INT NOT NULL,
    Quantidade INT NOT NULL CHECK (Quantidade >= 0),
    PRIMARY KEY (CNPJrevenda, CodigoAuto, AnoAuto),
    FOREIGN KEY (CNPJrevenda) REFERENCES REVENDEDORAS(CNPJ) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (CodigoAuto, AnoAuto) REFERENCES AUTOMOVEIS(Código, Ano) ON DELETE CASCADE ON UPDATE CASCADE
);

-- Inserir GARAGENS

INSERT INTO GARAGENS (CNPJrevenda, CodigoAuto, AnoAuto, Quantidade)
VALUES
('12.345.678/0001-90', 1, 2022, 3),
('98.765.432/0001-10', 2, 2020, 5),
('98.765.432/0001-10', 3, 2023, 2);

-- Alterar tabela
ALTER TABLE GARAGENS ADD COLUMN Ultima_Atualizacao TIMESTAMP DEFAULT CURRENT_TIMESTAMP;
ALTER TABLE GARAGENS DROP COLUMN AnoAuto;

SyntaxError: invalid syntax (<ipython-input-14-a726fbc69fe6>, line 1)

**Parte 1: Modelagem Conceitual**

Segue SUGESTÃO de solução de modelagem conceitual ER usando a ferramenta BRmodelo.

https://drive.google.com/file/d/10-lx_mCLC4svbnopnlBKxtfsBJGqdbXt/view?usp=sharing